<html>
	<head>
		<title>employee</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>

	<body>
	<h1>Add New User Details</h1>
		<form action='' method='post'>
			<br>Name:<input type="text" name="name" required></br>
	        <br>Address:<input type="text" name="address" required></br>
	        <br>Gender:<input type="text" name="gender" required></br>
			<br>Joined Date:<input type="date" placeholder="dd-mm-yyyy" name="joineddate" required></br>
			<br><input type='submit' value='save Details'></br>

		</form>
	</body>
</html>
