<html>
	<head>
		<title>employee</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>

	<body>
	<h1>Add New salary Details</h1>
		<form action='' method='post'>
			<br>Employeeid:<input type="text" name="employeeid" required></br>
	        <br>salary:<input type="text" name="salary" required></br>
	        <br>month:<input type="text" name="month" required></br>

			<br><td><button type="submit">save salary Detail</button></td></br>

		</form>
	</body>
</html>
